[submodule "Blanco/vendor/spdlog"]
	path = Blanco/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Blanco/vendor/glfw"]
	path = Blanco/vendor/glfw
	url = https://github.com/lzcup/glfw
