[submodule "Blanco/vendor/spdlog"]
	path = Blanco/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Blanco/vendor/glfw"]
	path = Blanco/vendor/glfw
	url = https://github.com/lzcup/glfw
[submodule "Blanco/vendor/imgui"]
	path = Blanco/vendor/imgui
	url = https://github.com/lzcup/imgui
[submodule "Blanco/vendor/glm"]
	path = Blanco/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Blanco/vendor/yaml"]
	path = Blanco/vendor/yaml
	url = https://github.com/lzcup/yaml-cpp
[submodule "Blanco/vendor/ImGuizmo"]
	path = Blanco/vendor/ImGuizmo
	url = https://github.com/lzcup/ImGuizmo
[submodule "Blanco/vendor/Box2D"]
	path = Blanco/vendor/Box2D
	url = https://github.com/lzcup/box2d
